html {
    height: 100%;
    padding: 10px;
}

body {

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 20px;
    line-height: 1.5;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), #ffffff),linear-gradient(70deg, #ddf4ff 30%, #dafbe1);
}

/*
header div{
    display: inline-block;
    width: 100px;
    justify-content: right;
    text-align: right;
}
*/

img {
    margin-right: 10px;
    width: 60px;
    height: 30px;
}

.i18n {
    text-align: right;
}

.i18n > div {
    display: inline;
}


header{
    margin-top: 0px;
    text-align: right;
}

.flags {
}

/*
.i18n {
    text-align: right;
}

.i18n > div {
    display: inline;
}
*/

.i18n{
    background-color: red;
    /*margin: auto;*/
    /*display: inline-block;*/
    /*width: 200px;*/
    text-align: right;
}

/*
.i18n > div {
    display: inline;
}
*/

.text-instruction {
    text-align: justify;
}

.str675:after { content: '\21D2'; }


